#wf_widget_countdown {
  width: 300px;
  height: 600px;

  #wf_widget_header {
    background: #d6d4ce url("../imgs/azo/header.png");
    width: 300px;
    height: 99px;
    margin-bottom: 1px;

    #wf_countdown {
      display: none;
    }
  }

  #wf_widget_by {
    font-family: "Helvetica", Arial,sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 80px;

    span {
      font-weight: bold;
    }
  }

  #wf_widget_content {
    width: 300px;
    min-height: 250px;
    ul {
      list-style-type: none;
      margin:0px;
      padding:0px;
      li {
        height: 63px;
        overflow:hidden;
        padding: 10px 10px;
        text-shadow: 1px 1px #ffffff;
        img {
          margin: 0 10px 0 0;
        }
        a:link.single {position: relative; top:20px;}
        a:link, a:visited, a:hover {
          position: relative;
          top: 13px;
          color: #000000;
          text-decoration: none;
          font-family: Helvetica,Arial,sans-serif;
          font-size:15px;
          font-weight: bold;
        }
      }
      li.alt1, li.alt3 {
        background: #f0f0f0; border-bottom: 2px solid #ffffff;
      }
      li.alt2 {
        background: #f0f0f0; border-bottom: 2px solid #ffffff;
      }

    }
  }
}

#wf_widget_footer {
  width: 300px;
  height: 250px;
}

