body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.nav-tabs>li>a {
    font-size: 14px;
    padding: 10px 17px;
}

.container {
    max-width: 1270px;
}

/************************************************/
/* ****************** Nav Tabs ******************/
/************************************************/
.nav-tabs {
    border-bottom: 5px solid #e98893;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
    color: #ffffff;
    background-color: #e98893;
    border-color: #e98893 #e98893 #e98893;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #e98893;
    border: 1px solid #e98893;
    border-bottom-color: transparent;
}


.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs.nav-justified > li {
    float: none;
}

.nav-tabs.nav-justified > li > a {
    text-align: center;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #ffffff;
    background-color: #e98893;
    border-color: #e98893;
}

.nav .caret {
    border-top-color: #428bca;
    border-bottom-color: #428bca;
}

.nav a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.nav .active .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.super-pushdowns {

}

.super-pushdowns-nav {
    margin: 0 auto; width: 150px; margin-top: 20px;
}

.super-pushdowns h2 {
    color: #d21748; margin: 35px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e98893;
}

.dropdown-menu-title {
    background: #ebebeb;
    padding: 5px;
    padding-left: 18px;
}

h3 {
    margin: 30px 0px;
}